<h1>Editing Search Log</h1>

<%= render 'form', search_log: @search_log %>

<%= link_to 'Show', @search_log ,class:"btn btn-primary"%> 
<%= link_to 'Back', search_logs_path ,class:"btn btn-primary"%>
